/* 루틴 CSS */
.routine_header {
  padding: 5px 5px;
}

.routine-body {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열 */
  grid-template-rows: 1fr 1fr; /* 2행 */
  gap: 5px; /* 박스 사이의 간격 */
  width: 90%; /* 컨테이너의 너비, 필요에 따라 조정 */
  max-width: 400px; /* 최대 너비, 필요에 따라 조정 */
  margin: auto; /* 중앙 정렬 */
}

.routine_box {
  background-color: #f0f0f0; /* 박스의 배경색 */
  border: 1px solid #ddd; /* 박스의 테두리 */
  display: flex;
  align-items: center; /* 내용물 수직 중앙 정렬 */
  justify-content: center; /* 내용물 수평 중앙 정렬 */
  padding: 20px; /* 박스 내부 여백 */
  border-radius: 10px;
}

.popupBtn {
  width: 30px;
  height: 30px;
}

/* 모달 스타일 */
#modalWrap {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalBody {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
  background: white;
}

/* 토글 버튼 스타일 */
.toggle-button {
  height: 24px;
  width: 48px;
  background-color: #ddd;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
}

.toggle-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-button.active {
  background-color: #4caf50;
}

.toggle-button.active::after {
  left: 26px;
}

/* 닫기 버튼 스타일 */
#closeBtn {
  float: right;
  font-weight: bold;
  color: #777;
  font-size: 25px;
  cursor: pointer;
}
